.fixed{
    position:fixed;
    right:40vw;
}

.bouclier{
    border:4px solid rgba(0,0,0,0);

    svg{
        position:absolute;
        z-index: 0;
        left:-43px;
    }

    .clickBox {
        position:absolute;
        z-index:1;
        &.gauche{
            width: 154px;
            height:396px;

            //background-color: rgba(0,0,0,0.5);
    
        }

        &.droite{
            width: 154px;
            height:396px;
            right:-29vw;
            //background-color: rgba(255,0,0,0.5);
        }
    }
    
}

.colors{
    
    #red{
        background-color: red;
        width:50px;
        height:50px;
        border-radius:50px;
    }
    #blue{
        background-color: blue;
        width:50px;
        height:50px;
        border-radius:50px;
    }
    #green{
        background-color: green;
        width:50px;
        height:50px;
        border-radius:50px;
    }
    #yellow{
        background-color:yellow;
        width:50px;
        height:50px;
        border-radius:50px;
    }
    #white{
        background-color: white;
        border:1px solid black;
        width:50px;
        height:50px;
        border-radius:50px;
    }
}