@charset "utf-8";

/* main
--------------------------------------------------------------*/
h2  {
	background:url(../img/mail/hn_title.gif) no-repeat top left;
}

#mailBox {	
	width:512px;
	height:300px;
	background:url(../img/mailbg_mail.gif) no-repeat;
	padding:25px 0 0 20px;
	margin:5px 0 0 0;
	
}

input , select , textarea {
	background:#d6cf9b;
	border:#513021 1px solid;
	font-size:12px;
}